<div class="page-header">
  <h1>About Liberty Center</h1>
</div>
<div>
  <h5>Oskar Wieczorek, January 2015<br>
    <h5><a href="http://pl.wikipedia.org/wiki/Oskar_Wieczorek">http://pl.wikipedia.org/wiki/Oskar_Wieczorek</a><br></h5>
    All liberty stuff.<br>
    <h5><a href="https://www.facebook.com/pages/Liberty-Center/1538412999750341?ref=hl">FanPage</a></h5>
  </h5>
</div>